@page "/"

<PageTitle>Porfolio | Andrés Pérez Guardiola</PageTitle>

<h1>Andrés Pérez Guardiola</h1>
<h2>Desarrollador FullStack | .NET | REACT</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas velit consectetur enim corporis porro deserunt. Fugiat provident sunt odit vero. Ea aut omnis officiis ipsum atque qui iusto repellendus.</p>

<!-- BIO -->

<!-- Proyectos -->

<!-- Habilidades -->

<!-- Contacto -->