@page "/"

<PageTitle>Porfolio | Andrés Pérez Guardiola</PageTitle>

<h1>Andrés Pérez Guardiola</h1>
<h2>Desarrollador FullStack | .NET | REACT</h2>

<!-- BIO -->

<!-- Proyectos -->

<!-- Habilidades -->

<!-- Contacto -->