@page "/not-found"

<div class="container">
    <h1 class="fs-3">No encontrado</h1>
    <p>Lo sentimos, el contenido que estabas buscando no existe.</p>

    <button onclick="history.back()" class="btn btn-secondary">Volver Atrás</button>
</div>
