<footer>
    <hr>
    <div class="container">
        <p>No hay nada que ver por ahora</p>
        <div>Copyright © <strong>Andrés Pérez Guardiola</strong> 2026-@DateTime.Now.Year</div>
    </div>
    
</footer>