<header>
    <nav class="navbar navbar-expand-lg custom-navbar navbar-fixed-top nav-down">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="/">
                <img src="@("https://placehold.in/200x60@2x.png/dark")" alt="Logo" height="60" width="200">
            </a>
            <button type="button" 
            class="navbar-toggler mobile-burger-test-btn collapsed"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/#porfolio" Match="NavLinkMatch.All">
                            Porfolio
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="mis-proyectos">
                            Mis Proyectos
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="sobre-mi">
                            Sobre mi
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="blog">
                            Blog
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="contacto">
                            Contacto
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>