@inherits LayoutComponentBase
@using porfolio_blog.UI.Components
@using Application.DTOs.User
@using Application.UseCases

@inject IUserContext UserContext;
@inject GetUserById GetUserByIdUseCase;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="float-right mr-4">
                @if (user is null)
                {
                    <NavLink href="/admin/me/">
                        <span class="bi bi-person fs-3"></span>
                    </NavLink>
                }
                else 
                {
                    <NavLink href="/admin/me/">
                        <img src="@user.PhotoUrl" alt="Foto"
                        class="avatar"
                        >
                    </NavLink>
                }
                
            </div>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    public UserOutput? user {get; set;}

    protected async override Task OnParametersSetAsync()
    {
        int userId = UserContext.UserId!.Value;

        user = await GetUserByIdUseCase.ExecuteAsync(userId);
    }
}
